<html>
    <head>
        <title>Plant Disease Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    </head>
    <body>
        <div class="header">
            <div class="heading">Plant Disease Predictor</div>
            <div class="subheading">Check if your plant is infected by a quick image upload</div>
        </div>
        <div= class="mid2">
        <div>
            <img src="{{ user_image }}" alt="User Image" />
        </div>
        <div >
            <h1>Category:<span> {{cat}} </span> </h1>
        </div>
        </div>
        <div class="footer">
            <div class ="copyright">&copy; </div>
            <a href="https://github.com/manaswitasolanki"><img id ="git" src="{{ url_for('static', filename='stylesheet/github.png') }}" alt="github logo"></a>
            <div >manaswitasolanki</div>
        </div>
    </body>
</html>